{
  "miniprogramRoot": "dist",
  "projectname": "ieclub-taro",
  "description": "IEClub Taro Project",
  "appid": "YOUR_APPID_HERE",
  "setting": {
    "urlCheck": false,
    "es6": true,
    "enhance": true,
    "postcss": true,
    "minified": true,
    "condition": true
  },
  "compileType": "miniprogram",
  "projectArchitecture": "multiPlatform",
  "simulatorPluginLibVersion": {
    "wxext14566970e7e9f62": "2.27.3"
  }
}

